
  .contact {
    padding: 50px 0;
    text-align: center;
  }
  
  .contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .contact hr {
    width: 50px;
    height: 2px;
    background-color: gold;
    border: none;
    margin: 20px auto;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
  }
  
  .contact-info {
    text-align: left;
    font-size: 20px;
    color: white; /* Gold text */
  }
  
  .contact-form {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gold;
  }

  .contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gold;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);
    transition: all 0.3s ease;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 6px 20px rgba(212, 175, 55, 0.5);
    border-color: #d4af37;
  }
  
  .contact-form button {
    background-color: black;
    color: gold;
    border: 2px solid gold;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);
  }

  .contact-form #send-btn:hover {
    background-color: gold;
    color: black;
    transition: all 0.5s ease-out;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(212, 175, 55, 0.5);
  }

  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 20px;
    border: 1px solid gold;
  }

  #popup button:hover {
    background-color: gold;
    color: black;
  }

  span {
    color: red;
  }

  .form-footer {
    font-size: 14px;
    color: gray;
    margin-top: -10px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Responsive Design */
@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr; /* Stack the columns on mobile */
    gap: 30px; /* Reduce the gap between stacked items */
    padding: 0 20px; /* Add horizontal padding for a clean look */
  }

  .contact-info {
      text-align: center; /* Center align the contact info text */
      font-size: 18px; /* Slightly reduce font size for readability */
  }
}

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
  